
/* Стили для секции FAQ */
.faq {
    /* Стили для секции FAQ */
}

/* Стили для заголовка */
.faq__title {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Стилизация списка вопросов */
.faq__list {
    list-style: none;
    padding: 0;
}

/* Стилизация элемента списка и ответа */
.faq__item {
    margin-bottom: 10px;
}

/* Скрытие чекбокса */
.faq__item input[type="checkbox"] {
    display: none;
}

/* Стилизация заголовка вопроса */
.faq__label {
    display: block;
    padding: 10px;
    background-color: #eee;
    cursor: pointer;
    position: relative;
}

/* Добавление иконки крестика */
.faq__label::before, .faq__label::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    width: 15px;
    height: 2px;
    background-color: #333;
}

/* Поворот одной полосы для создания крестика */
.faq__label::before {
    transform: rotate(45deg);
}

.faq__label::after {
    transform: rotate(-45deg);
}

/* Ключевые кадры для анимации открытия */
@keyframes openAccordion {
    0% { max-height: 0; }
    100% { max-height: 200px; } /* Максимальная высота для содержимого */
}

/* Ключевые кадры для анимации закрытия */
@keyframes closeAccordion {
    0% { max-height: 200px; }
    100% { max-height: 0; }
}

/* Стилизация ответа */
.faq__content {
    overflow: hidden;
    transition: max-height 0.5s ease;
    background-color: #f8f8f8;
    padding: 0 10px;
    animation-fill-mode: forwards;
}

/* Применение анимации при открытии */
.faq__item input[type="checkbox"]:checked ~ .faq__content {
    animation: openAccordion 0.5s ease;
}

/* Применение анимации при закрытии */
.faq__item input[type="checkbox"]:not(:checked) ~ .faq__content {
    animation: closeAccordion 0.5s ease;
}

/* Изменение иконки при открытом вопросе */
.faq__item input[type="checkbox"]:checked ~ .faq__label::before {
    transform: rotate(-45deg);
}

.faq__item input[type="checkbox"]:checked ~ .faq__label::after {
    transform: rotate(45deg);
}
