.about {
    width: 100%;
    height: 350px;


    border-radius: 32px;
    overflow: hidden;

    background-image: url(../../src/images/5T8A0253-20.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}